---
layout: 'layouts/default.njk'
---

{%- from 'macro.button.njk' import button -%}

<div class="mx-auto max-w-xl lg:(max-w-none grid-(& cols-2) gap-16)">
  <aside class="lg:(order-last) mb-5">
    <figure class="mx-auto max-w-4xl">
      <img src="{{ img }}" alt="{{ title }} photo" class="w-full h-full object-(cover center) rounded-2xl motion-safe:(transition-all)" />
    </figure>
  </aside>
  
  <article>
    <div class="{{ site.prose }}">
      {{ content | safe }}
    </div>
    {% if action_button_text %}
    <div class="pt-6 flex justify-left mb-6">
      {{ button({
        href: action_button_link,
        color: 'pri',
        props: 'target="_blank"',
        slot: action_button_text
      }) }}
    </div>
    {% endif %}
  </article>
</div>

<nav class="pt-24 flex justify-center">
  {{ button({
    href: '../',
    outline: true,
    circle: true,
    icon: 'mdi:chevron-left'
  }) }}
</nav>