---
layout: 'layouts/default.njk'
---

{%- from 'macro.button.njk' import button -%}

<div class="mx-auto max-w-xl lg:(max-w-none grid-(& cols-2) gap-16)">
  <aside class="lg:order-last mb-5">
    <div class="mx-auto max-w-4xl">
      {%- if images %}
      <!-- Swiper Container -->
      <div class="swiper h-[400px] rounded-2xl overflow-hidden">
        <div class="swiper-wrapper">
          {%- for image in images %}
          {% if image.indexOf('youtube') != -1 %}
          <div class="swiper-slide bg-slate-800">
            <div class="relative w-full h-full">
              <iframe class="absolute inset-0 w-full h-full" src="{{ image }}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>
          {% else %}
          <div class="swiper-slide bg-slate-800">
            <img src="{{ image }}" alt="{{ title }}" class="w-full h-full object-cover" />
          </div>
          {% endif %}
          {% endfor %}
        </div>

        <!-- Navigation -->
        <div class="swiper-button-next !w-12 !h-12 after:text-4xl"></div>
        <div class="swiper-button-prev !w-12 !h-12 after:text-4xl"></div>

        <!-- Pagination -->
        <div class="swiper-pagination !bottom-4"></div>
      </div>
      {%- else %}
      <img src="{{ img }}" alt="{{ title }} photo"
        class="w-full h-full object-(cover center) rounded-2xl motion-safe:(transition-all)" />
      {%- endif %}
    </div>
  </aside>

  <article>
    <div class="{{ site.prose }}">
      {{ content | safe }}
    </div>
    {% if action_button_text %}
    <div class="pt-6 flex justify-left mb-6">
      {{ button({
      href: action_button_link,
      color: 'pri',
      props: 'target="_blank"',
      slot: action_button_text
      }) }}
    </div>
    {% endif %}
  </article>
</div>

<nav class="pt-24 flex justify-center">
  {{ button({
  href: '../',
  outline: true,
  circle: true,
  icon: 'mdi:chevron-left'
  }) }}
</nav>